.idea
Thumbs.db
.DS_Store
._.DS_Store
*.log
/*.txt
/*.html
/*.sql
/.htaccess
/.htaccess.restore
bitrix/*
upload/*
company/*
contacts/*
include/*
login/*
products/*
search/*
services/*
/local/php_interface/constants.php
/cgi-bin
/web.config